.wsch-settings-app {
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 20px auto;

    h1 {
        margin-top: 0;
    }
}

.wsch-loading {
    display: flex;
    justify-content: center;
    padding: 50px;
}